@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Londrina+Shadow&display=swap');

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'nav      nav      nav'
    'article1section1 article1section1 sidebar'
    'footer   footer   footer';
    background-color: #eeeeee;
    /* grid-gap: 10px;
    
    flex-direction: row;
    flex-wrap:wrap;  */
  }

  .grid-parent > * {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    margin: 5px 10px 5px 10px;
    /* font-size: 30px; */
    border: 0.5px solid ;
    border-color: rgb(218, 218, 218);
   
  } 

 
  .navbar0 { grid-area: nav;
   }

  .article1-section1 { grid-area: article1section1; 
    margin: 0% 5% 5% 5%;
    padding: 0% 5% 0% 5%;

  }
  .aside1 { grid-area: sidebar; 
    padding-top: 40%;
    text-align: center;
    margin: 0% 5% 2% 5%;
    font-size: 40px; 
    font-family: 'Amatic SC', cursive;
    color: #fff;

    background-image: url("../assets/freedom.jpg");
    /* width: 100%; */
    height: 500px; 
    background-size: 100% 100%;
    text-shadow: 2px 2px #ffffff;
    /* text-decoration: underline; */
      color: rgb(0, 0, 0);

    /* padding: 0% 5% 0% 5%; */
    
  }


#mainarticle{
    text-align: left;
}
/* #restofmenu{
  float:right;
} */

  .footer1{ grid-area: footer; 
    margin: 0% 10% 0% 10%;
    padding: 0% 5% 0% 5%;

  }
    

.article-smalldesc p{
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}


.article-smalldesc h2{
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
}

.article-smalldesc h4{
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}

/* Add Media Queries Later  */

/* 
    Large Desktop: Minimum width of 1200 pixels, at least three columns
    Desktop: Minimum width of 992 pixels, two to three columns
    Tablet: Minimum width of 768 pixels, two columns
    Smartphone: Smaller than 768 pixels, one column
 */

.splash-welcome{
  background-image: url("../assets/alexander-mils.jpg");
  /* width: 100%; */
  height: 500px; 
  background-size: 100% 100%;

} 


img{
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
  float: left;
  padding-top: 2%;
  padding-right: 2%;

}


.blog-title{
  font-size: 149px; 
  font-family: 'Londrina Shadow', cursive;
  text-shadow: 2px 2px #ffffff;
  /* text-decoration: underline; */
    color: rgb(119, 184, 0);
    text-align: center;
    vertical-align: text-bottom;
    position: absolute;
    left: 25%;
    font-weight: bold;

  }



.email-form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #808080;
}

.email-form label {
  margin: 5px 10px 5px 0;
  background-color: #808080;
}


/* Style the input fields */
.email-form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.email-form button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.email-form button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .email-form input {
    margin: 10px 0;
  }

  .email-form {
    flex-direction: column;
    align-items: stretch;
  }
}

/* responsive table  */
.Breakdown-1 {
  position: block;

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow-x:auto;


}


.Breakdown-2 {
    position: block;
  
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    overflow-x:auto;
  
  
  }
  

 /* Extra large devices (large laptops and desktops, 1200px and up) */



 /* navigation bar */
 .dropdown {
  list-style-type: none;
  margin:0;
  padding:0;
}
.dropdown>li {
  display:inline-block;
  /* float: right; */
  position:relative;
  background-color:rgb(119, 184, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 25px; 
}
.dropdown>li>ul {
  list-style-type: none;
  margin:0;
  padding:10px;
  position:absolute;
  background-color:rgb(119, 184, 0);
  opacity:0;
  top:0px;
  transition:all 300ms;
}
.dropdown a {
  padding:10px;
  color:white;
  white-space:nowrap;
  text-decoration:none;
  display:inline-block;
}
.dropdown>li:hover>ul {
  opacity:1;
  top:40px;
}

/* aside to join email list */



.joinbutton{     
  padding:5px 15px; 
  background:rgb(119, 184, 0); 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  /* font-size: 30px; */
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  text-shadow: 2px 2px #ffffff;
  /* text-decoration: underline; */
    color: rgb(0, 0, 0);
}


/* .article-smalldesc{
  font-family: 'gistFont', cursive;
} */