@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

body{
  background: silver;
}
h1{
    color: white;
  }
  
.typo{
  background: red;
}
 

.taxonomy {
	width:100%;
	height:auto;
	padding:1%;
}
.crown_crane{
  width: 49%;
  float: left;
  border: 1px solid blue;

}
.taxonomy_text{
  width: 50%;
  float: left;
  font-family: cursive;
  border: 1px solid red;
  
}

/* .taxonomy_text{
  border: 1px solid red;
   float: right; 

} */

img {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
}




p{
  border: 2px solid green;
 

}
/* Inheritance css  */
p#metho_text {
  border-right: 1px solid yellow;
  border-left: 2px solid purple;
  font-family: 'Saira', sans-serif;
  font-size: 20pt;
  margin: 10px 10px 10px 10px;
  color: blue; 


}

/* @font-face {
  font-family: 'CaviarDreams';
  src: url('assets/Caviar-Dreams/web-fontsCaviarDreams.eot'); 

} */

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('CaviarDreams-webfont.eot');
  src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
       url('CaviarDreams-webfont.woff2') format('woff2'),
       url('CaviarDreams-webfont.woff') format('woff'),
       url('CaviarDreams-webfont.ttf') format('truetype'),
       url('CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



p#general-crane {
  font-family: caviar_dreamsregular;

}

#crane-behavior{
  font-family:  caviar_dreamsregular;
  color:violet;
  background-color: black;
  font-family:  caviar_dreamsregular;
  
}

dt{
  border: 1px;

}