@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('CaviarDreams-webfont.eot');
  src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
       url('CaviarDreams-webfont.woff2') format('woff2'),
       url('CaviarDreams-webfont.woff') format('woff'),
       url('CaviarDreams-webfont.ttf') format('truetype'),
       url('CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


.header1{
  font-family: caviar_dreamsregular;
  text-align: center;
  font-size: 20px;
  margin-top: 5rem;
  color: rgb(245, 241, 236);
  

}

.header1 .header_title{

  text-shadow: 2px 2px black;

}
.navbar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar2 {
  float:left;

}

.navbar2 a{
  
  display: inline-block;
  padding: 8px;
  background-color: #dddddd;
}


body {
  padding: 10px;
  background-image: url("../assets/crane_intro.jpg");
  background-size: 100rem;
  position:relative;
  /* background-repeat: no-repeat; */
}
 
section{
  /* background-color: thistle; */
  display: block;
  margin: 10px;
  /* float: left; */
  background-color: rgba(255, 0, 191, 0.5);
}

aside{
  float: right;
  width: 30%;
  border: 5px solid rgb(255, 0, 0) ;
  border-radius: 10px;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  background-color:  rgba(255, 145, 0, 0.5);

}

p{
  background-color: violet;
  /* opacity: .5; */
  
}



.myth_section{
  border: 5px solid yellowgreen ;
  border-radius: 10px;
  box-sizing: border-box;
  display:inline-block;
  /* Margin is transparent and gives the  color of parent element  */
  margin: 10px; 
  padding: 30px;
  width: 800px;
  height: 850px;
  /* float: left; */

}
